* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(73, 34, 121);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.page-nums {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  background-color: rgb(115, 115, 129);
  margin-top: 2rem;
}
.page-nums li {
  margin: 0 0.2rem;
  padding: 0.25rem;
}

.pagination-container {
  display: flex;
}

.container {
  max-width: 1150px;
  margin: auto;
  margin-top: 70px;
  padding: 0px 20px;
  overflow: hidden;
}

.flip-card {
  background-color: transparent;
  height: 230px;
  perspective: 1000px;
  cursor: pointer;
}

hr {
  border-top: 2px;
  width: 90%;
  margin: auto;
  margin-bottom: 12px;
}

.form-control {
  width: 60%;
  padding: 10px 0;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.info {
  font-family: 'Nanum Gothic', sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 40px;
  background: rgb(3, 129, 108);
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 30px 0;
  font-size: 1.5rem;
  color: rgb(73, 34, 121);
  font-family: 'Courier New', Courier, monospace;
}

p {
  margin-top: 4px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #584f4f;
  color: white;
  transform: rotateY(180deg);
}

.header {
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  left: 0;
  right: 0;
  color: rgb(3, 129, 108);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: rgb(51, 50, 48);
}

.info {
  margin-left: 20px;
  font-weight: bolder;
}
.countryName {
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Kavivanar', cursive;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  background-color: white;
}

.header-h1 {
  font-size: 5.5vw;
  margin: 0;
}

.live {
  position: absolute;
  left: 15px;
  color: red;
  font-size: 25px;
}

.search {
  text-align: center;
  padding-top: 180px;
}

.cards {
  margin-top: 40px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 60px;
  left: 0px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(255, 255, 255);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.6s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-h1 {
    position: relative;
    right: 30px;
  }
  .live {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .flip-card img {
    width: 100%;
    height: 230px;
  }
  .live {
    font-size: 15px;
    margin-left: 10px;
  }
}
